# Arquivos do sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Dependências
node_modules/
package-lock.json
yarn.lock

# Build e dist
dist/
build/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*
